
/*-----Fonts------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/*--General--*/
.wrapper {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    height: 100vh;
    overflow-x: hidden;
    background: url('../img/Sections-background/section-1header.jpg') no-repeat center;
    background-size: cover;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 168px;
    height: 63px;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
    background: #18CFAB;
    color: #FFFFFF;
    transition-duration: 0.2s;
    position: relative;
}
.btn:hover{
    box-shadow: 0 -10px 0 white;
}
.btn:active{
    box-shadow: 0 0 white;
    transform: translateY(-10px);
}
.title {
    position: relative;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    padding: 100px 0 100px 0;
    color: #4E4E4E;
}
.title::after {
    content: '';
    position: absolute;
    background: #18CFAB;
    width: 80px;
    height: 1px;
    left: calc(50% - 40px) ;
    bottom: 75px;
}
.title::before {
    content: '';
    position: absolute;
    background: #18CFAB;
    width: 80px;
    height: 1px;
    left: calc(50% - 27px) ;
    bottom: 71px;
}
/*--Header--*/
.header {
    /*position: fixed;*/
    height: 120px;
    width: 100%;
    background: rgba(94, 93, 88, 0.6);
    z-index: 100;
}
.header__container {
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    position: relative;
    display: flex;
}
.header__logo::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -26px;
    background-color: #18CFAB;
    opacity: 0;
    transition-duration: 0.5s;
}
.header__logo:hover::after{opacity: 1;}
.header__logo-img{
    display: flex;
    justify-content: center;
    width: 58px;
    height: 67px;
    background: url('../img/Polygon1.svg');
}
.header__logo-img p{
    align-self:center;
    font-size: 40px;
    line-height: 31px;
}
.header__logo-text{
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    margin: auto 0 auto 6px;
}
.header__logo-text span{
    font-weight: 700;
    color: rgba(24, 207, 171, 1);
}
.header__nav{
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}
.header__nav-item{
    /* display: inline-block; */
    position: relative;
    color: rgba(255, 255, 255, 0.6);
    transition-duration: 0.5s;
}
.header__nav-item::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 68px;
    background-color: #18CFAB;
    opacity: 0;
    transition-duration: 0.5s;
}
.header__nav-item:hover{color: rgba(24, 207, 171, 1);}
.header__nav-item:hover::after{opacity: 1;}
.header__nav-item:not(:first-child){margin-left: 21px;}

/*--Main content--*/
.main {}
.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home__ttl-first {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
}
.home__ttl-first span{color: rgba(24, 207, 171, 1);}
.home__ttl-second {
    margin-top: 22px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 78px;
}
.home__ttl-third {
    margin-top: 22px;
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
}
.home__buttons {margin-top: 134px;}
.home__btn-explore {box-shadow: 0 -5px 0 white;}
.home__btn-purchase {
    box-shadow: 0 -5px 0 white;
    margin-left: 26px;
    background: #00CBF6;
}
.main__4option {
    margin-top: 10px;
    display: flex;
    height: 360px;
}
.option__item{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    width: calc(100vw / 4);
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 24px;
}
.darkgreen{
    background: #1C2A33;
    color: #18CFAB;
}
.lightgreen{background: #18CFAB;}
.option__item-img {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
}
.option__item-img img {
    max-width: 100px;
    max-height: 100px;
}
.option__item-text{
    text-transform: uppercase;
    margin-bottom: 100px;
}
.main__service {background: #FFFFFF;}
.tabs__titles-service {display: flex;}
.tab__title-service {
    height: 72px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    color: #717171;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    background: #F8FCFE;
    border: 1px solid #F2F2F2;
    margin-bottom: 27px;
    cursor: pointer;
    position: relative;
    transition-duration: 0.1s;
}
.tab__title-service:hover{
    outline: 2px solid #18CFAB;
    outline-offset: -2px
}
.tab__title-service.active-service-tab{
    color: #FFFFFF;
    background: #18CFAB;
}
.tab__title-service.active-service-tab::after{
    content: '';
    position: absolute;
    border: 14px solid transparent;
    border-right: 15px solid #18CFAB;
    display: block;
    bottom: -27px;
    width: 0;
    height: 0;
    transform: rotate(270deg);
}
.tab__item-service {display: none;}
.tab__item-service.active-service-tab {display: flex;}
.tab__item-img {
    max-width: 192px;
    max-height: 139px;
}
.tab__item-text {
    margin: 0 0 91px 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: #777777;
}
.main__purchase {
    background: url('../img/purchase/Layer21-1.png')no-repeat center;
    background-size: cover;
    min-height: 476px;
}
.purchase__title {
    padding-top: 127px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    text-transform: uppercase;
}
.purchase__text {
    margin: 12px 0 62px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}
.purchase__btn{box-shadow: 0 -5px 0 white;}
.main__work {background: #E9EDEF;}
.work {
    position: relative;
    padding-bottom: 232px;
}
.tabs__titles-work {
    display: flex;
    margin: 0 auto;
    width: 582px;
}
.tab__title-work {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: 1 0; */
    padding: 0 15px 0 15px;
    height: 58px;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    background: #E9EDEF;
    border: 1px solid #DADADA;
    cursor: pointer;
    transition-duration: 0.1s;
}
.tab__title-work:first-child{
    padding: 0 28px 0 28px;
}
.tab__title-work:hover {
    outline: 2px solid #00CBF6;
    outline-offset: -2px;
}
.tab__title-work.active-work-title{
    outline: 2px solid #18CFAB;
    outline-offset: -2px;
    color: #18CFAB;
}
.tabs__content-work {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 71px 0 0 0 ;
    overflow: hidden;
}
.tab__item-work {
    position: relative;
    width: 285px;
    height: 206px;
    overflow: hidden;
    transition-duration: 0.2s;
    display: none;
    opacity: 0;
}
.tab__item-work.active-work-tab {
    display: block;
    opacity: 1;
}
.tab__item-work img{
    transition-duration: 0.2s;
}
.tab__item-work:hover img{
    top: 100%;
    transform: translateY(-100%);
}
.tab__item-work:hover .details__item-work{
    top: 100%;
    transition-duration: 0.2s;
    transform: translateY(-100%);
}
.details__item-work {
    background: #E9EDEF;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}
.details__item-work::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    top: 0;
    left: 0;
    background: #18CFAB;
}
.details__item-work h4{
    margin-top: 25px;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}
.details__item-work h5{
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}
.details__item-work-btns{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details__item-work-btn{
    position: relative;
    border-radius: 50%;
    transition-duration: 0.2s;
}
.details__item-work-btn:hover {box-shadow: 0 0 5px #18CFAB;}
.details__item-work-btn:active {
    box-shadow: 0 0 7px #00CBF6;
    scale: 0.95;
}
.details__item-work-btn:first-child {
    right: 3px;
    height: 41px;
    width: 41px;
    border: 1px solid #18CFAB;
}
.details__item-work-btn:first-child::after{
    content: '';
    position: absolute;
    height: 17px;
    width: 17px;
    top: 11px;
    left: 11px;
    background: url('../img/Combined shape 7431.svg')no-repeat center;
    background-size: cover;
}
.details__item-work-btn:last-child {
    left: 3px;
    height: 42px;
    width: 42px;
    background: #18CFAB;
}
.details__item-work-btn:last-child::after{
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    top: 15px;
    left: 15px;
    background: url('../img/Layer 23.png')no-repeat center;
    background-size: cover;
}
.work__btn {
    position: absolute;
    bottom: 99px;
    left: calc(50% - 84px);
}
.work__btn p{
    position: absolute;
    left: 56px;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
}
.work__btn p::before {
    content: '';
    position: absolute;
    left: -35px;
    bottom: 12px;
    height: 19px;
    width: 18px;
    background: url('../img/Forma 1.png')no-repeat center;
    background-size: cover;
}
.main__news {
    background: #FFFFFF;
}
.news__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 85px;
}
.news__item {
    position: relative;
    transition-duration: 0.3s;
}
.news__item:hover .news__item-date{
    background: #18CFAB;
    transition-duration: 0.3s;
}
.news__item:hover .news__item-title{
    color: #18CFAB;
    transition-duration: 0.3s;
}
.news__item-img {
    width: 263px;
    height: 208px;
}
.news__item-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 68px;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    background: #203E38;
    transition-duration: 0.3s;
}
.news__item-description{
    background: #F8FCFE;
    border: 1px solid #F2F4F5;
    margin-bottom: 44px;
    padding-left: 15px;
}
.news__item-title {
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    transition-duration: 0.3s;
}
.news__item-text {
    display: flex;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
}
.news__item-comments::before {
    content:"|";
    margin: 0 15px 0 15px;
}

/*--Feedback slider--*/
.about-ham {
    min-width: 1200px;
    padding-bottom: 99px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/sections-background/section-3.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
}
.about-ham-titles {
    font-weight: 400;
    color: #fff;
}
.text-review::before {
    content: url('../img/Combined-shape2474.png');
    position: absolute;
    top: -60px;
    left: calc(50% - 23px);
}
.testimonial {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.testimonial .slide {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 300;
    color: #bbbbbb;
    display: none;
}
.testimonial .image {
    height: 170px;
    width: 170px;
    margin-top: 38px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid rgba(31, 218, 181, 0.2);
}
.slide {
    font-size: 40px;
    color: #18cfab;
}
.slide .text-review {
    width: 1160px;
    margin-top: 37px;
    text-align: center;
    font-size: 16px;
    line-height: 1.88;
    color: #bbbbbb;
}
.slide .details {
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.details .name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.69;
    text-transform: uppercase;
    color: #18cfab;
}
.details .job {
    font-size: 13px;
    line-height: 2.08;
    color: #bbbbbb;
}
.left-arrow,
.right-arrow {
    position: absolute;
    top: 91.5%;
    width: 31px;
    height: 31px;
    padding: 4px 8px 0;
    color: #bbbbbb;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #bbbbbb;
    cursor: pointer;
    transition: all 0.4s ease-in;
}
.right-arrow {
    right: calc(50% - 483px / 2);
}
.left-arrow {
    right: calc(50% + 483px / 2 - 31px);
}
.left-arrow:hover,
.right-arrow:hover {
    background-color: #18cfab;
    border: 1px solid #18cfab;
    color: #fff;
    transition: all 0.4s ease-in;
}
.thumbnails-container {
    width: 483px;
    margin-top: 51px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thumbnail {
    height: 59px;
    width: 59px;
    margin: 0 19px;
    box-sizing: content-box;
    border: 6px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.4s ease-in;
}
.thumbnail-image {
    height: 100%;
}
.thumbnail.active,
.thumbnail:hover {
    display: block;
    transform: scale(1.1) translate(0, -10%);
    opacity: 1;
    transition: all 0.4s ease-in;
}
.slide.active {
    position: relative;
    display: flex;
}
.slide.active .image {
    animation: testim-show 0.7s ease-in-out forwards;
}
.slide.active .name {
    animation: testim-content-in 0.4s ease-in-out forwards;
}
.slide.active .text-review {
    animation: testim-content-in 0.5s ease-in-out forwards;
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
/*--Button load--*/
.btn__loader-container{
    height: 15px;
    width: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px #fff;
    animation: move 400ms linear 0ms infinite;
    margin-right: 30px;
}
.circle:first-child{
    position: absolute;
    top:0;
    left:0;
    animation: grow 400ms linear 0ms infinite;
}
.circle:last-child{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
    animation: grow 400ms linear 0s infinite reverse;
}

@keyframes grow {
    from {transform: scale(0,0); opacity: 0;}
    to {transform: scale(1,1); opacity: 1;}
}
@keyframes move {
    from {transform: translateX(0px)}
    to {transform: translateX(45px)}
}
/*--Footer--*/
.footer {
    display: flex;
    align-items: center;
    height: 121px;
    background: #22353F;
}
.footer__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}
.footer__text a {
    color: rgba(24, 207, 171, 1);
}

